---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
import {
    Tabs,
    TabsList,
    TabsTab,
    TabsPanel,
} from "accessible-astro-components";

const penguinsAdelie = penguins.filter(({ species }) => species === "Adelie");
const penguinsGentoo = penguins.filter(({ species }) => species === "Gentoo");
const penguinsChinstrap = penguins.filter(
    ({ species }) => species === "Chinstrap",
);
---

<Layout>
    <h1 class="text-2xl m-5">Test Astro et Plot (Observablehq)</h1>
    <a class="text-blue-900 m-5" href="/">Retour aux étapes</a>
    <h3 class="text-3xl m-5">Menu (version Tabs)</h3>

    <Tabs>
        <TabsList>
            <TabsTab id="gentoo-tab" controls="gentoo-panel" selected>
                Gentoo
            </TabsTab>
            <TabsTab id="chinstrap-tab" controls="chinstrap-panel">
                Chinstrap
            </TabsTab>
            <TabsTab id="adelie-tab" controls="adelie-panel"> Adelie </TabsTab>
        </TabsList>

        <TabsPanel id="gentoo-panel" labelledby="gentoo-tab" selected>
            <h3 class="text-3xl m-5">Gentoo</h3>
            <PlotFigure
                options={{
                    marks: [
                        Plot.dot(penguinsGentoo, {
                            x: "culmen_length_mm",
                            y: "culmen_depth_mm",
                            stroke: "species",
                        }),
                    ],
                }}
            />
        </TabsPanel>

        <TabsPanel id="chinstrap-panel" labelledby="chinstrap-tab">
            <h3 class="text-3xl m-5">Chinstrap</h3>
            <PlotFigure
                options={{
                    marks: [
                        Plot.dot(penguinsChinstrap, {
                            x: "culmen_length_mm",
                            y: "culmen_depth_mm",
                            stroke: "species",
                        }),
                    ],
                }}
            />
        </TabsPanel>

        <TabsPanel id="adelie-panel" labelledby="adelie-tab">
            <h3 class="text-3xl m-5">Adelie</h3>
            <PlotFigure
                options={{
                    marks: [
                        Plot.dot(penguinsAdelie, {
                            x: "culmen_length_mm",
                            y: "culmen_depth_mm",
                            stroke: "species",
                        }),
                    ],
                }}
            />
        </TabsPanel>
    </Tabs>
</Layout>
