---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";

const penguinsAdelie = penguins.filter(({ species }) => species === "Adelie");
const penguinsGentoo = penguins.filter(({ species }) => species === "Gentoo");
const penguinsChinstrap = penguins.filter(
    ({ species }) => species === "Chinstrap",
);
---

<Layout>
    <h1 class="text-2xl m-5">Test Astro et Plot (Observablehq)</h1>
    <a class="text-blue-900 m-5" href="/">Retour aux étapes</a>
    <h3 class="text-3xl m-5">Menu</h3>

    <nav class="m-5">
        <label for="species" class="mr-2">Choisissez une espèce :</label>
        <select id="species">
            <option value="Gentoo">Gentoo</option>
            <option value="Chinstrap">Chinstrap</option>
            <option value="Adelie">Adelie</option>
        </select>
    </nav>

    <div class="flex gap-2 overflow-x-auto scroll-smooth">
        <div class="min-w-full m-5" id="Gentoo">
            <h3 class="text-3xl">Gentoo</h3>
            <PlotFigure
                options={{
                    marks: [
                        Plot.dot(penguinsGentoo, {
                            x: "culmen_length_mm",
                            y: "culmen_depth_mm",
                            stroke: "species",
                        }),
                    ],
                }}
            />
        </div>
        <div class="min-w-full" id="Chinstrap">
            <h3 class="text-3xl">Chinstrap</h3>
            <PlotFigure
                options={{
                    marks: [
                        Plot.dot(penguinsChinstrap, {
                            x: "culmen_length_mm",
                            y: "culmen_depth_mm",
                            stroke: "species",
                        }),
                    ],
                }}
            />
        </div>
        <div class="min-w-full" id="Adelie">
            <h3 class="text-3xl">Adelie</h3>
            <PlotFigure
                options={{
                    marks: [
                        Plot.dot(penguinsAdelie, {
                            x: "culmen_length_mm",
                            y: "culmen_depth_mm",
                            stroke: "species",
                        }),
                    ],
                }}
            />
        </div>
    </div>
</Layout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const select = document.getElementById("species");

        select?.addEventListener("change", (evt) => {
            const value = evt.target.value;
            window.location.hash = value;
        });

        if (window.location.hash) {
            const current = window.location.hash.replace("#", "");
            if (
                select &&
                [...select.options].some((opt) => opt.value === current)
            ) {
                select.value = current;
            }
        }
    });
</script>
