---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<Layout>
    <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
    <a class="text-blue-900" href="/">Retour aux étapes</a>
    <h3 class="text-3xl">Menu</h3>

    <nav>
        <ul class="flex gap-2">
            <li>
                <a
                    class="border-2 border-purple-500 p-2 rounded-full"
                    href="/species/Gentoo">Gentoo</a
                >
            </li>
            <li>
                <a
                    class="border-2 border-purple-500 p-2 rounded-full"
                    href="/species/Chinstrap">Chinstrap</a
                >
            </li>
            <li>
                <a
                    class="border-2 border-purple-500 p-2 rounded-full"
                    href="/species/Adelie">Adelie</a
                >
            </li>
        </ul>
    </nav>
</Layout>
