---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<Layout>
    <h1 class="text-2xl m-5">Test Astro et Plot (Observablehq)</h1>
    <a class="text-blue-900 m-5" href="/">Retour aux étapes</a>
    <h3 class="text-3xl m-5">Menu</h3>

    <div class="my-8 m-5">
        <p class="text-xl my-5">Choisissez une espèce de manchot :</p>
        <select id="species">
            <option value="/species/Adelie">Adelie</option>
            <option value="/species/Chinstrap">Chinstrap</option>
            <option value="/species/Gentoo">Gentoo</option>
        </select>
        <script>
            document
                .querySelector("#species")
                ?.addEventListener("change", (evt) => {
                    const value = (evt.target as HTMLSelectElement).value;

                    location.pathname = value;
                });
        </script>
    </div>
</Layout>
