---
import * as Plot from "@observablehq/plot";
import PlotFigure from "../../components/PlotFigure.astro";
import penguins from "../../assets/penguins.json";
import Layout from "../../layouts/Layout.astro";

const penguinsAdelie = penguins.filter(({ species }) => species === "Adelie");
---

<Layout>
    <h1 class="text-3xl m-5">Adelie Penguins</h1>
    <a class="text-blue-900 m-5" href="/un">Retour aux autres penguins</a>

    <div class="my-8 m-5">
        <PlotFigure
            options={{
                marks: [
                    Plot.dot(penguinsAdelie, {
                        x: "culmen_length_mm",
                        y: "culmen_depth_mm",
                        fill: "species",
                    }),
                ],
                x: { label: "Culmen length (mm)" },
                y: { label: "Culmen depth (mm)" },
            }}
        />
    </div>
</Layout>
